body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

header {
  padding: 10px;
}

#board {
  width: 95vw;
  max-width: 500px;
  margin: auto;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #222;
}

.menu button {
  flex: 1;
  padding: 15px;
  border: none;
  background: none;
  color: white;
  font-size: 14px;
}

.light {
  background: #f5f5f5;
  color: black;
}
